gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/


key.properties
**/*.keystore
**/*.jks



build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies


.idea/
*.iml
.gradle/
.gradle-cache/
local.properties





captures/
*.log
*.lock
*.tmp


.env


# macOS / Windows / Linux system files
.DS_Store
Thumbs.db
